body {
  background: url("list.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
}
.container {
  height: auto;
  width: auto;
  margin: 2% 60% auto 2%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: auto;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1px rgba(255, 255, 255, 0.02);
  border-left: 1px rgba(255, 255, 255, 0.02);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
h1 {
  border: 5px double rgba(255, 255, 255, 0.02);
  color: rgb(189, 22, 22);
  background-color: rgba(255, 255, 255, 0.02);
  text-shadow: 2px 2px 2px black;
}
#input-field {
  height: 25px;
  width: 250px;
  border-radius: 10px 2px 10px 5px;
  margin-right: 50px;
  font-weight: bold;
}
button {
  padding: 5px 20px;
  border-radius: 14px 4px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
}
button:hover {
  color: white;
  background-color: black;
}
/* .paragraph-styling {
  font-size: 20px;
  color: chocolate;
} */
