#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  /******** glass morphism************/
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1px rgba(255, 255, 255, 0.02);
  border-left: 1px rgba(255, 255, 255, 0.02);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  /************ flex *************************/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /***************positioning **************/
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-30%, -15%);
  /**** animation *********/
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
}
.hover {
  /* transition: scale(2) 5s ease-in 2s; */
  transform: scale(2);
}
