body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: black;
  color: white;
}
#colorname {
  text-transform: uppercase;
  font-size: bold;
}
