* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: yellow;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face::before {
  content: "";
  background-color: sienna;
  height: 70px;
  width: 150px;
  position: absolute;
  top: 180px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s; /*** for delay ***/
}
.face:hover::before {
  top: 210; /*** 210 px angle ***/
  background-color: sienna;
  width: 150px;
  height: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.eyes {
  position: relative;
  top: -40px;
  display: flex; /* due to felx property white eyes are aligned horizontally*/
}
.eyes .eye {
  background: white;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  margin: 0 15px;
}
.eyes .eye::before {
  content: "";
  background: black;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
