body {
  text-align: center;
  margin: 5% 40%;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.container {
  border: 5px solid grey;
  color: white;
  font-weight: bold;
  width: fit-content;
  padding: 5% 5%;
}
h1 {
  color: orangered;
}
.btn {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: brown;
  color: white;
  font-size: 15px;
}
#results {
  font-size: 30px;
  font-size: larger;
  font-weight: bold;
}
