body {
  background: linear-gradient(#13547a, #80d0c7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  height: 50px;
  width: 30vw;
  border-radius: 25px 5px;
  text-align: center;
  font-size: 25px;
}
h1 {
  color: #eeccff;
}
#output {
  height: 150px;
  width: 25vw;
  background-color: #13547a;
  border-radius: 15px 5px;
  margin-top: 50px;
  text-align: center;
}
#btn {
  width: 30vw;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px 5px;
  background-color: black;
  color: white;
  margin-top: 50px;
}
#btn:hover {
  background-color: grey;
}
