* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom right, red, blue);
}
.container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  /* instead of flex we can use following properties  */
  height: 500px;
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  border: 5px solid #788453;
  border-radius: 20px 5px;
  background: linear-gradient(yellow, green);
}
h1 {
  text-align: center;
}
#loan-amount {
  border: #ddd 1px solid;
  border-radius: 5px;
  float: right;
  padding: 5px;
  width: 175px;
}
#interest-rate {
  border: #ddd 1px solid;
  border-radius: 5px;
  float: right;
  padding: 5px;
}
#months-to-pay {
  border: #ddd 1px solid;
  border-radius: 5px;
  float: right;
  padding: 5px;
}
.para {
  margin-top: 50px;
}
