body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: black;
  color: white;
  padding: 50px;
  border-radius: 25px;
  text-align: center;
}
#username {
  float: right;
  margin-bottom: 25px;
}
#passward {
  float: right;
}
label {
  float: left;
  margin-bottom: 25px;
}
#submit {
  margin-top: 25px;
  padding: 5px 20px;
  border-radius: 10x 2px;
  background-color: grey;
  color: white;
}
